player-connection-mode=Listen
player-connection-guid=4291509562
player-connection-debug=0
player-connection-project-name=Yomi Chess
player-connection-ip=192.168.1.51
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=097e125f1a3842f8b9b0d88fc95c86bc
