player-connection-mode=Listen
player-connection-guid=1099384688
player-connection-debug=0
player-connection-project-name=Chess_variant_TFG_dev_1
player-connection-ip=192.168.1.51
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=3f3a7f493c5d486b88a469d1a2d9d3b0
